 .create-main {
     height: 75%;
     width: 90%;
     margin: auto;
 }

 .create-main form {
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
 }


 .create-h1 {
     height: 10%;
     display: flex;
     flex-direction: row;
     align-items: center;
     /* text-align: center; */
     justify-content: center;
     box-sizing: border-box;
     /* border: 3px solid black; */
     font-size: calc(1px + 2vmin);
     color: rgb(46, 213, 115);


     /* border-radius: 30px; */
     border-top-left-radius: 30px;
     border-top-right-radius: 30px;
     background: rgba(46, 213, 116, 0.36);
     box-shadow: rgba(46, 213, 115, 0.25) 0px 30px 50px -12px inset, rgba(46, 213, 116, 0.073) 0px 18px 26px -18px inset;
 }

 .create-div {
    border: white solid 3px;
     height: 90%;
     /* display: flex; */
     /* flex-direction: column; */
     /* justify-content: center; */
     overflow-y: auto;
     /* width: 100%;
    height: 10%; */

     width: 100%;
     --color: rgba(114, 114, 114, 0.3);
     background-color: #191a1a;
     background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
         linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
     background-size: 55px 55px;
     font-family: "Crumble";
     color: antiquewhite;
 }
 .create-div-title-date {
    display: flex;
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    /* margin-top: 2%; */
    margin: 2% 15% 2% 15%;
    justify-content: space-around;


 }


 .create-title-div {
    font-size:x-large;
    /* margin-left: 35%; */
    /* justify-content: center; */
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 15%;
 }

 .create-date-div {
    font-size:x-large;
    /* margin-left: 35%; */
    width: 20%;
    display: flex;
    flex-direction: column;
    height: 15%;
    color: antiquewhite;
 }
 .create-description-div {
    font-size:x-large;
    margin-left: 20%;
    width: 60%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    height: 50%;
 }

 .create-title-div input,
.create-date-div input {
    width: 100%;
    /* background-color: #474d4d; */
    border-radius: 16px;
    /* border: #9ba7a7 solid 1px; */
    background-color: #5b6060;
    --color: rgba(180, 180, 180, 0.3);
    background-size: 55px 55px;
     background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
         linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
}

.create-description-div textarea {
    background-color: #474d4d;
    border-radius: 16px;
    height: 70%;
    border: #9ba7a7 solid 1px;
    background-color: #5b6060;
    --color: rgba(180, 180, 180, 0.3);
    background-size: 55px 55px;
     background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
         linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
}
    


 .create-buttons-div {
    display: flex;
    justify-content: space-around;
    height: 15%;
}

 .create-btn-cancel,
 .create-btn-create {
     height: 100%;
     width: 30%;
     text-align: center;
     font-size: calc(4px + 2vmin);
         --main-color: rgb(46, 213, 115);
         --main-bg-color: rgba(46, 213, 116, 0.36);
         --pattern-color: rgba(46, 213, 116, 0.073);
       
         /* change this rotation value */
         filter: hue-rotate(10deg);
       
         cursor: pointer;
         text-transform: uppercase;
         letter-spacing: 0.5rem;
         background: radial-gradient(
             circle,
             var(--main-bg-color) 0%,
             rgba(0, 0, 0, 0) 95%
           ),
           linear-gradient(var(--pattern-color) 1px, transparent 1px),
           linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
         background-size:
           cover,
           15px 15px,
           15px 15px;
         background-position:
           center center,
           center center,
           center center;
         border-image: radial-gradient(
             circle,
             var(--main-color) 0%,
             rgba(0, 0, 0, 0) 100%
           )
           1;
         border-width: 1px 0 1px 0;
         color: var(--main-color);
         padding: 1rem 3rem;
         font-weight: 700;
         font-size: 1.5rem;
         transition: background-size 0.2s ease-in-out;

 }

 .create-btn-cancel:hover,
 .create-btn-create:hover {
 background-size:
      cover,
      10px 10px,
      10px 10px;
 }

 .create-btn-cancel:active,
 .create-btn-create:active {
 filter: hue-rotate(250deg);
 }
 

 

 /*
.create-description-div{
    display: flex;
    flex-direction: column;
}



.create-buttons-div {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
}



.create-btn-cancel {
    padding: 5px 15px;
    border-radius: 16px;
    color: white;
    background-color: darkred;
}

.create-btn-create {
    padding: 5px 10px;
    border-radius: 16px;
    color: white;
    background-color: darkgreen;

} */